$theme-bg: rgb(23, 45, 62);
$theme-font-color: rgb(255, 255, 255);

.order-book {
  background-color: $theme-bg;
  flex: 1;
  width: 100%;
  color: $theme-font-color;
  max-width: 765px;

  button {
    background: none !important;
    border: none;
    font-size: 11px;
    padding: 0 6px;
    color: $theme-font-color;
    cursor: pointer;

    &:disabled {
      opacity: 0.6;
      pointer-events: none;
    }

     svg {
       color:rgba(255, 255, 255, 0.8);
     }
  }

  .order-spinner {
    position: relative;
    top: 16vh;
    left: 108%;
  }
}
